/Teorica/** 
/Bibliografia/** 
/Labos/Imagenes_para_contraste/** 
/Labos/Imagenes de pruebas/** 
**.zip
**.ipynb_checkpoints
**.png
**.jpg
**.aux
**.fls
**.tex
**.synctex.gz
**.log
**.fdb_latexmk
**/Imagenes de pruebas/**