/Teorica/** 
/Bibliografia/** 
/Labos/Imagenes_para_contraste/** 
/Labos/Imagenes de pruebas/** 
/EntregableL2/build/**
**.zip
**.ipynb_checkpoints
**.aux
**.fls
**.synctex.gz
**.log
**.fdb_latexmk
**/Imagenes de pruebas/**